<map-bg></map-bg>
<div class="mapOverlay"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 card">
      <div class="">
        <div class="">
          <h3 class="text-center">Register</h3>

        </div>
        <div class="panel-body">
          <form name="form" [formGroup]="registerForm" (ngSubmit)="submitRegister()" novalidate>
            <fieldset>
              <!--<img alt="Paypal logo" src="https://www.ivpn.net/templates/integration2/img/paypal_mark_100x63.gif" width="60px"><br><br>-->
              <!--[ngClass]="{ 'has-error': (registerForm.get('Email').hasError('required') || registerForm.get('Email').hasError('email')) && registerForm.get('Email').touched }"-->

              <div class="form-group">
                <input class="form-control input-lg" placeholder="E-mail Address" formControlName="Email" type="text">
                <div *ngIf="registerForm.get('Email').touched">
                  <div class="error-block" *ngIf="registerForm.get('Email').hasError('required')">Email is required</div>
                  <div class="error-block" *ngIf="registerForm.get('Email').hasError('email')">Email is invalid</div>
                </div>
              </div>


              <div class="form-group">
                <input class="form-control input-lg" placeholder="Password" formControlName="Password" value="" type="password">
                <div *ngIf="registerForm.get('Password').touched">
                  <div class="error-block" *ngIf="registerForm.get('Password').hasError('required')">Password is required</div>
                </div>
              </div>


              <div class="form-group">
                <input class="form-control input-lg" placeholder="Confirm Password" formControlName="ConfirmPassword" value="" type="password">
                <div *ngIf="registerForm.get('ConfirmPassword').touched">
                  <div class="error-block" *ngIf="registerForm.get('ConfirmPassword').hasError('required')">Confirm Password is required</div>
                  <div class="error-block" *ngIf="registerForm.get('ConfirmPassword').hasError('matchPassword')">Passwords does not match</div>
                </div>
              </div>


              <!--<div class="checkbox">
                <label>
                  <input name="terms" type="checkbox">Remember me!

                </label>
              </div>-->
              <div class="pull-right">Already registered? <a [routerLink]="['/login']">Login</a></div>
              <input class="btn btn-lg btn-primary btn-block" value="Register" type="submit">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
